doctype html
html
    head
        block head
            meta(charset="utf-8")
            meta(name="author" content="福ちゃん")
            meta(name="description" content="バーチャルへぇは、みんなで「へぇ」を連打できるWebサービスです。「へぇ」と思った、そんなときに。")
            meta(name="viewport" content="width=device-width,initial-scale=1")
            title バーチャルへぇ
            link(rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css")
            link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova+Mono")
            link(rel="stylesheet" href="/stylesheets/common.css")
            link(rel="shortcut icon" href="/favicon.ico")
    body
        #preload
            p#he へ
            p#loading loading...
        #decoration-container
            #bg
            #stars
                - for (var i = 0; i < 1000; i++)
                    - var top = Math.random() * 284 - 142;
                    - var left = Math.random() * 284 - 142;
                    .star(style="top:"+top+"%;left:"+left+"%;" )
            .light.left
            .light.right
            img.audience2(src="/images/audience2.png")
            img.audience1(src="/images/audience1.png")
            .discoball-container.right
                .silver
                .purple
                .gold
            .discoball-container.left
                .silver
                .purple
                .gold
        header
            block header
                a(href="/")
                    h1 バーチャル
                        span へぇ
        main
            block main
        footer
            block footer
                small Created by 福ちゃん
                address
                    a(href="https://twitter.com/m_fukuchan") @m_fukuchan
                p.small 当作者は、俳優の八嶋智人氏と高橋克実氏が豆知識を紹介する番組を応援しています。
        block script
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
            script(src="https://platform.twitter.com/widgets.js")
            script(src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js")
            script(src="https://www.googletagmanager.com/gtag/js?id=UA-116043944-1")
            script(src="/javascripts/common.js")