extends _layout.pug
block header
    .banner
        h1 バーチャル
            span へぇ
        p みんなで「へぇ」できるWebサービス
        form(action="/" method="post")
            input(type="text" name="title" maxlength="100" placeholder="ルーム名" required)
            input(type="submit" value="今すぐ始める")
block main
    .container
        h2 バーチャルへぇ #とは
        p みんなで「へぇ」を連打できるWebサービスです。「へぇ」と思った、そんなときに。
        #steps.flex
            div
                img(alt="ステップ1(自分でルームを作成)" src="/images/step1_1.png")
                h3 まずは、ルームを作成しましょう！
                p ページ上部のフォームでルーム名を入力して始めます。
            div
                img(alt="ステップ1(他のルームに参加)" src="/images/step1_2.png")
                h3 または、既存の他のルームに参加しましょう！
                p 下の「現在稼働中のルーム」から適当に選んで参加してみましょう。
            div
                img(alt="ステップ2" src="/images/step2.png")
                h3 ルームに入れたら、思いのままにボタンを押しましょう！
                p 自分や他の参加者がボタンを押すたびに「へぇ」と音が鳴るので、音量に注意してください。
        .share-button-container
            a.twitter-share-button(href="https://twitter.com/share?ref_src=twsrc%5Etfw") Tweet
            .line-it-button(data-type="share-a")
        h2 現在稼働中のルーム
        - const keys = Object.keys(rooms)
        if (keys.length > 0)
            table.table
                tr
                    th ルーム名
                    th へぇ
                    th 参加人数
                - for (let i = 1; i <= keys.length; i++)
                    - const room = rooms[keys[keys.length - i]]
                    if (i > 20)
                        - break
                    tr
                        td
                            a(href="/" + keys[keys.length - i] ) #{room.title}
                        td.digital #{room.count}
                        td #{room.viewer}
        else
            p 稼働中のルームはありません